<%- include header %>
<body style="background-color: #e8e8e8">
<%- include top %>
<%- include notice %>
<div class="slideshow" id="b1">
    <div class="slideshow-area" id="b2">
        <li style="background: url(images/slide1.jpg) no-repeat center;background-size: cover;width: 100%;" id="b3"></li>
        <li style="background: url(images/slide2.jpg) no-repeat center;background-size: cover;width: 100%;" id="b4"></li>
        <li style="background: url(images/slide3.jpg) no-repeat center;background-size: cover;width: 100%;" id="b5"></li>
        <li style="background: url(images/slide4.jpg) no-repeat center;background-size: cover;width: 100%;" id="b6"></li>
    </div>
    <div class="slideshow-bullets">
        <ul>
        </ul>
    </div>
    <div class="next"></div>
</div>
<script>
    // 获取窗口宽度
    if (window.innerWidth)
        var winWidth = window.innerWidth;
    else if ((document.body) && (document.body.clientWidth))
        var winWidth = document.body.clientWidth;
    // 通过深入 Document 内部对 body 进行检测，获取窗口大小
    if (document.documentElement && document.documentElement.clientHeight && document.documentElement.clientWidth)
    {
        var winWidth = document.documentElement.clientWidth;
    }
    var winHeight = winWidth / 2.7;
    if (winHeight < 496)
        winHeight = 496;

    document.getElementById("b1").style.height = winHeight + "px";
    document.getElementById("b2").style.height = winHeight + "px";
    document.getElementById("b3").style.height = winHeight + "px";
    document.getElementById("b4").style.height = winHeight + "px";
    document.getElementById("b5").style.height = winHeight + "px";
    document.getElementById("b6").style.height = winHeight + "px";
</script>
<div class="container" style="min-width: 1024px;">
    <div class="row">
        <div class="col-xs-8 col-sm-8" style="min-width: 750px;">
            <div class="index_li_container">
                <% posts.forEach(function (post, index) { %>
                <li>
                    <div class="index_li_img" style="background: url(<%= post.target_logo %>) no-repeat center;background-size: contain;"></div>
                    <div class="index_li_context">
                        <div class="index_li_name">
                            <a href="u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
                        </div>
                        <div class="index_li_tag">
                            <% post.tags.forEach(function (tag, index1) { %>
                                <% if (tag) { %>
                                    <% post.selectTag.forEach(function (selectTag, index2) { %>
                                        <% if (index1 == index2) { %>
                                            <span class="label label-<%= selectTag%>"  style="-moz-border-radius: 0;-webkit-border-radius: 0;border-radius:0;"><%= tag %></span>
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            <% }) %>
                        </div>
                        <div class="index_li_about">
                            <p><%= post.about %></p>
                        </div>
                        <div class="index_li_author_container">
                            <% users.forEach(function (users, index) { %>
                                <% if(post.name == users.name) {%>
                                <div class="index_li_author_img">
                                    <a href="u/<%= post.name %>"><img src="<%= users.logoPath%>" class="img-circle" alt="<%= users.name%>" height="38px" width="38px" style="border: 2px solid #bce5ff;"></a>
                                </div>
                                <% } %>
                            <% }) %>
                            <div class="index_li_author_name">
                                <a href="u/<%= post.name %>"><%= post.name %></a>
                            </div>
                            <div style="padding: 3px 0 0 0;text-align: right;">
                                <% if(post.cost == "免费") {%>
                                    <span class="label label-success" id="cost" style="position:relative; left: 6px;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius:0;border: 2px solid #bce5ff;padding: 9px 4px 9px 8px;">
                                <% } else { %>
                                    <span class="label label-warning" id="cost" style="position:relative; left: 6px;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius:0;border: 2px solid #ebd39b;padding: 9px 4px 9px 8px;">
                                <% } %>
                                        <%= post.cost %>
                                    </span>
                                <button type="button" class="btn btn-info" style="-moz-border-radius: 0;-webkit-border-radius: 0;border-radius:0;border: 2px solid #bce5ff;" onclick="window.open('u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>')">
                                    查看插件<span class="badge" style="margin: 0 0 0 4px;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius:0;"><%= post.pv %></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </li>
                <% }) %>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4">
            <div class="friend">
                <div class="friend_name">
                    <p>合作伙伴</p>
                </div>
                <li>
                    <div class="row">
                        <div class="col-md-3" style="width: 80px;">
                            <img src="/images/author.jpg" alt="<%= users.name%>" height="64px" width="64px" class="img-circle">
                        </div>
                        <div class="col-md-9">
                            <div class="friend_context_name">
                                <p>Liuzln</p>
                            </div>
                            <div>
                                专注肮脏的屁眼交易.
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>

<%- include paging %>
<%- include footer %>